:root { 
    --dark-grey: #37373c;
    --grey-dot: #4f4f4f;
    --paper: #f7f7f7;
}

*, ::after, ::before {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
  }

body { 
    font-family: 'Walter Turncoat';
    font-size: 2.5em;
    padding:1em;

    background-image: radial-gradient(var(--grey-dot) 1px, var(--paper) 10%);
    background-size: 1em 1em;
    background-position:.1em;

    width: 100vw;
    height: 100vh;
    overflow: hidden;
  }

main {
    display: flex;
    min-height: calc(100vh - 104px - 48px);
}

nav {
    width: 300px;
    min-width: 250px;
    padding: 20px;
}
/* TO DO */
/* - ADD MARKER-LIKE COLORS FOR THE TASKS'S PRIORITY LEVEL.
        FOR EXAMPLE, RED BACKGROUND FOR THE PARAGRAPH IF URGENT, GREEN IF NOT 
        OR A LITTLE TAG "IMPORTANT" RIGHT NEXT TO THE TASK NAME
*/